.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.sqlite
inst/doc
requal.yml
requal_users.sqlite
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
/inst/
/.quarto/
