.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.sqlite
inst/doc
requal.yml
requal_users.sqlite
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
# gh-pages
.quarto
wiki/
tests/test.requal

# dev stuff
test-iframe.R
wip.R

/.quarto/
