.custom_label {
  color: black !important;
}
.required > label::after {
  content: "*";
  color: red;
  margin-left:2px
}
.scrollable80{
    border: none;
    height:80vh;
    overflow-y:scroll;
}
.scrollable90{
    border: none;
    height:90vh;
    overflow-y:scroll;
}
.overflow_barrier {
    overflow: hidden;
    text-overflow: ellipsis;
}
.overflow_barrier:hover {
    overflow: visible;
    overflow-wrap: break-word;
    word-break: break-all;
    background: white;
}
.code-button {
    overflow: hidden;
    text-overflow: ellipsis;
}

.code-button:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
}
.code-button:popover {
  overflow: initial;
  white-space: initial;
  text-overflow: initial;
}
.quote {
font-size: medium;
line-height: 1;
background-color: #E8E8E8;
}

.segment_badge {
display: inline-block;
padding: .2em .6em .3em;
font-size: 10;
font-weight: 700;
line-height: 1;
color: black;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
background-color: white;
}

p.docpar {
  margin: 0px 0px 5px 0px;
}

.br {
  height: 0px;
  width: 0px;
}

b.segment {
  font-weight: normal;
  text-decoration-thickness: 5px !important; 
  text-underline-offset: 3px !important;
}




.category-rank-list {
-webkit-border-radius: 1px;
border-radius: 1px;
border-style: dashed;
border-width: 1px;
border-color: #ddd;
background: transparent;
margin: 0px;
min-height: 45px;
padding: 0px;
}

.rank-list-item {
border-radius: 0px !important;
display: block;
padding: 0px !important;
margin: 0px !important;
background: none;
border: 0px !important;
overflow: hidden;
cursor: grab;
}

.box.box-solid {
margin-top: 2px !important;
margin-left: 0px !important; 
margin-right: 0px !important; 
margin-bottom: 5px !important; 
}

.memo ul {
left: auto !important;
right: 0 !important;
width: 375px;
}

#btn-memo > ul > li > ul > div {
margin-left: -20px !important;
margin-right: auto !important; 
width: 100% !important;  
} 


.dropdown-toggle[role="combobox"] {
  background-color: white;
  border: 1px solid #cccccc;
}

.disabled{
  cursor: not-allowed;
  pointer-events: none;
}

.module_tools {
  padding-left: 20px;
  display: -webkit-inline-box;
}
.module_content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.split {
  display: flex;
  flex-direction: row;
}

.split > #split-1 {
  padding-top: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color: #ffffff !important;
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

#rank-list-codes_menu {
background-color: transparent;
border: none;
padding: 0px;
margin-left: -0.3em;
margin-right: -0.3em;
display: flex;
}


.docpar::selection {
  background: #ffffcc;
  color: grey;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: red; 
}

.docpar b::selection {
  background: #ffffcc;
  color: grey;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: red; 
}
