.custom_label {
  color: black !important;
}
.required > label::after {
  content: "*";
  color: red;
  margin-left:2px
}
.scrollable80{
    border: none;
    height:80vh;
    overflow-y:scroll;
}
.scrollable90{
    border: none;
    height:90vh;
    overflow-y:scroll;
}
.overflow_barrier {
    overflow: hidden;
    text-overflow: ellipsis;
}
.overflow_barrier:hover {
    overflow: visible;
    overflow-wrap: break-word;
    word-break: break-all;
    background: white;
}
.code-button {
    overflow: hidden;
    text-overflow: ellipsis;
}

.code-button:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
}
.code-button:popover {
  overflow: initial;
  white-space: initial;
  text-overflow: initial;
}
.quote {
font-size: medium;
line-height: 1;
background-color: #E8E8E8;
}

.segment_badge {
display: inline-block;
padding: .2em .6em .3em;
font-size: 10;
font-weight: 700;
line-height: 1;
color: black;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
background-color: white;
}

article {
  counter-reset: paragraph; /* Initialize the counter for paragraphs */
  padding-left: 45px; /* Create space for the line numbers */
  position: relative; /* Position relative for absolute positioning of numbers */
}
p.docpar {
  margin: 0px 0px 5px 0px;
  position: relative;
  counter-increment: paragraph; /* Increment the counter for each paragraph */
}
p.docpar::before {
  content: counter(paragraph); /* Display the current counter value */
  position: absolute;
  left: -45px; /* Negative offset to place numbers in the padding area */
  width: 30px; /* Fixed width for alignment */
  text-align: right; /* Align numbers to the right */
  font-family: 'Courier New', Courier, monospace; /* Specify a monospace font */
  color: #959595; /* Style the numbers */
  pointer-events: none; /* Prevent interaction */
  user-select: none; /* Prevent selection */
}

.br {
  height: 0px;
  width: 0px;
}

b.segment {
  font-weight: normal;
  text-decoration-thickness: 5px !important; 
  text-underline-offset: 3px !important;
}




.category-rank-list {
-webkit-border-radius: 1px;
border-radius: 1px;
border-style: dashed;
border-width: 1px;
border-color: #ddd;
background: transparent;
margin: 0px;
min-height: 45px;
padding: 0px;
}

.rank-list-item {
border-radius: 0px !important;
display: block;
padding: 0px !important;
margin: 0px !important;
background: none;
border: 0px !important;
overflow: hidden;
cursor: grab;
}

.box.box-solid {
margin-top: 2px !important;
margin-left: 0px !important; 
margin-right: 0px !important; 
margin-bottom: 5px !important; 
}

.memo ul {
left: auto !important;
right: 0 !important;
width: 375px;
}

#btn-memo > ul > li > ul > div {
margin-left: -20px !important;
margin-right: auto !important; 
width: 100% !important;  
} 


.dropdown-toggle[role="combobox"] {
  background-color: white;
  border: 1px solid #cccccc;
}

.disabled{
  cursor: not-allowed;
  pointer-events: none;
}

.module_tools {
  padding-left: 20px;
  display: -webkit-inline-box;
}
.module_content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* initiates admin button as hidden */
.mfb-component--bl {
  display: none;
}
#\.shinymanager_logout.mfb-component__button--child {
  display: none;
}
#\.shinymanager_admin {
  position: relative;
  bottom: -5em;
}

/* logo style */
.logo {
  background-color: rgb(63, 79, 144) !important;
}
.split {
  display: flex;
  flex-direction: row;
}

.split > #split-1 {
  padding-top: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color: #ffffff !important;
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

#rank-list-codes_menu {
background-color: transparent;
border: none;
padding: 0px;
margin-left: -0.3em;
margin-right: -0.3em;
display: flex;
}

.docpar::selection {
  background: rgba(255, 223, 0, 0.75); /* A more contrasting yellow */
  color: black;
  text-decoration: underline; /* Fallback for browsers that don't support advanced styles */
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: red;
}

.docpar b::selection {
  background: rgba(255, 223, 0, 0.5); /* A more contrasting yellow with some transparency */
  color: black;
  text-decoration: underline; /* Fallback for browsers that don't support advanced styles */
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: red;
}

.quickcode {
  height: calc(1.5em + .75rem + 2px);
}

  /* codes menu column layout */
  .two_columns {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
   }
