#launchpad_icon{
  margin-right: 10px;
  color: white;
  animation-name: launchpad-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes launchpad-animation {
  from {color: white;}
  to {color: red;}
}

.custom_label {
  color: black !important;
}
.required > label::after {
  content: "*";
  color: red;
  margin-left:2px
}
.scrollable80{
    border: none;
    height:80vh;
    overflow-y:scroll;
    margin-right: 15px;
}
.scrollable80#document_code_ui_1-code_list {
  margin-right: 0px;
  scrollbar-width: none;
  overflow-x: clip;
}

[data-value="codetools_tabset"],
[data-value="memotools_tabset"] {
  max-height: 80vh;
  scrollbar-width: none;
}

.extra_tools {
  display: flex; 
  align-items: baseline;
  gap: 10px;
}

.scrollable90{
    border: none;
    height:90vh;
    overflow-y:scroll;
}
.overflow_barrier {
    overflow: hidden;
    text-overflow: ellipsis;
}
.overflow_barrier:hover {
    overflow: visible;
    overflow-wrap: break-word;
    word-break: break-all;
    background: white;
}
.code-button {
    overflow: hidden;
    text-overflow: ellipsis;
    background: none;
    width: 100%;
    border-left: 5px solid var(--code-color);
}
.code-button.hierarchy {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 5px solid var(--code-color);
  text-align: left;
}

.code-button:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
}
.code-button:popover {
  overflow: initial;
  white-space: initial;
  text-overflow: initial;
}
.quote {
font-size: medium;
line-height: 1;
background-color: #E8E8E8;
}

.segment_badge {
display: inline-block;
padding: .2em .6em .3em;
font-size: 10;
font-weight: 700;
line-height: 1;
color: black;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
background-color: white;
max-width: 50%;
text-wrap: wrap;
}

article {
  counter-reset: paragraph; /* Initialize the counter for paragraphs */
  padding-left: 70px; /* Create space for the line numbers */
  padding-right: 10px;
  position: relative; /* Position relative for absolute positioning of numbers */
}
.docpar_wrap {
  margin: 0px 0px 5px 0px;
  position: relative;
  counter-increment: paragraph; /* Increment the counter for each paragraph */
  font-size: 110%; 
  line-height: 1.5;
  overflow-wrap: anywhere;
}
.docpar_wrap::before {
  content: counter(paragraph); /* Display the current counter value */
  position: absolute;
  left: -45px; /* Negative offset to place numbers in the padding area */
  min-width: 30px; /* Fixed width for alignment */
  text-align: right; 
  font-family: 'Courier New', Courier, monospace; 
  color: #959595; 
  pointer-events: none; /* Prevent interaction */
  user-select: none; /* Prevent selection */
}

.br {
  height: 0px;
  width: 0px;
}

.category-rank-list {
-webkit-border-radius: 1px;
border-radius: 1px;
border-style: dashed;
border-width: 1px;
border-color: #ddd;
background: transparent;
margin: 0px;
min-height: 45px;
padding: 0px;
}

.rank-list-item {
border-radius: 0px !important;
display: block;
padding: 0px !important;
margin: 0px !important;
background: none;
border: 0px !important;
overflow: hidden;
cursor: grab;
}
.rank-list-item {
border-radius: 0px !important;
display: block;
padding: 0px !important;
margin: 0px !important;
background: none;
border: 0px !important;
overflow: hidden;
cursor: grab;
}

#codes_menu .default-sortable:hover {
  background-color: inherit; 
  border: none; 
}
#codes_menu .rank-list-item:hover {
  background-color: inherit; 
  border: none; 
}
#codes_menu .default-sortable {
  background-color: inherit; 
  border: none; 
}
#codes_menu .rank-list-item {
  background-color: inherit; 
  border: none; 
}

.box.box-solid {
margin-top: 2px !important;
margin-left: 0px !important; 
margin-right: 0px !important; 
margin-bottom: 5px !important; 
}

.box .box-title {
  padding-right: 70px;
}

.free_memo ul {
left: auto !important;
right: 0 !important;
width: 375px;
}

#btn-free_memo > ul > li > ul > div {
margin-left: -20px !important;
margin-right: auto !important; 
width: 100% !important;  
} 


.dropdown-toggle[role="combobox"] {
  background-color: white;
  border: 1px solid #cccccc;
}

.disabled{
  cursor: not-allowed;
  pointer-events: none;
}

.module_tools {
  padding-left: 20px;
  display: -webkit-inline-box;
}
.module_content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* initiates admin button as hidden */
.mfb-component--bl {
  display: none;
}
#\.shinymanager_logout.mfb-component__button--child {
  display: none;
}
#\.shinymanager_admin {
  position: relative;
  bottom: -5em;
}

/* logo style */
.logo {
  background-color: rgb(63, 79, 144) !important;
}
.split {
  display: flex;
  flex-direction: row;
}

.split > #split-1 {
  background-color: #ffffff !important;
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

#rank-list-codes_menu {
background-color: transparent;
border: none;
padding: 0px;
margin-left: -0.3em;
margin-right: -0.3em;
display: flex;
position: relative;
}

#codes_menu .code_container {
  padding-left: 15px;
  max-width: none;
}
#codes_menu .subcodes {
  margin-left: 0px;
}


.quickcode {
  height: calc(1.5em + .75rem + 2px);
}

  /* codes menu column layout */
  .two_columns {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
   }

/* stretch default shiny widgets */
  .full-width {
    width: 100% !important;
  }

/* Style for the document selection row */
.doc_sel_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ecf0f5;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Styles for advanced toolbox */
.toolbox-button {
  width: 100%;
  height: 20px;
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  padding: 0;
  font-size:10px;
  margin-bottom: 5px;
}
.toolbox-button:hover,
.toolbox-button:focus {
  background: #ccccc333;
}
.toolbox-button:focus:not(:hover) {
  background: transparent; 
}

.code-menu-extra {
  background: transparent;
  border: none;
  position: absolute;
  margin-left: -21px;
  padding-left: 8px;
  padding-right: 8px;
  color: silver; 
}
.hierarchy.code-menu-extra {
  background: transparent;
  border: none;
  position: relative;
  margin-left: -21px;
  padding-left: 8px;
  padding-right: 8px;
  color: silver; 
}
.code-menu-extra:hover {
  background: transparent;
  border: none;
}
.code-menu-extra:click {
  background: transparent;
}

/* Styles for in-text highlights */

.background {
  background-color: var(--code-color);
}
.background::selection {
  text-decoration: underline;
  text-decoration-color: var(--code-color);
  text-decoration-thickness: 5px; 
  text-underline-offset: 4px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--code-color);
  text-decoration-thickness: 5px; 
  text-underline-offset: 4px;
}

.memo_highlight {
  background-color: rgb(255, 255, 140); 
}

.docpar::selection,
.docpar span::selection  {
  background: rgb(0, 0, 0); 
  color: white;
}


@keyframes highlightFade {
  0% {
    background-color: silver;
  }
  25% {
    background-color: rgb(250, 250, 150);
  }
  50% {
    background-color: silver;
  }
  75% {
    background-color: rgb(250, 250, 150);
  }
  100% {
    background-color: var(--code-color);
  }
}

.highlight-effect {
  animation: highlightFade 2s ease-out forwards;
}

/* Style for the container div */
.code_container {
  margin: 0px;
  max-width: 50vh;
}

/* Style for the container div */
.code_item {
  width: 100%;
}

/* Style for the subcodes div */
.subcodes {
	border-left: 1px dashed silver;
	padding-left: 30px;
  margin-left: 15px;
  display: block;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

/* Style when a draggable element is over a subcodes div */
.code_item.dragover {
  background-color: #e0f7fa; 
}

/* Style for caret button */
.btn_code_id {
  background: transparent; 
  border: none;
  outline: none;
  min-width: 10px;
}
.btn_code_id:hover,
.btn_code_id:focus,
.btn_code_id:active {
    background-color: transparent; /* Same background color */
    border: none; /* Same border */
    outline: none; /* No outline */
}

.code_container:has(.btn_code_id) {
  margin-left: -18px;  
}

#codebook_ui_1-codes_ui {
  padding-left: 30px;  
  width: 50vh;
}